*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: rgb(255, 255, 255);
  --bg-url:url(./assets/coringa\ modo\ escuro.jpg);
  --stroke-color: rgba(255, 255, 255, 0.2);
  --surface-color: rgba(255, 255, 255, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color:  rgba(255, 255, 255, 0.651);
  --switch-bg-url: url(./assets/moon-stars.svg)

}
.light{
  --text-color: rgb(255, 255, 255);
  --bg-url:url(./assets/coringa\ modo\ claro.jpg);
  --stroke-color: rgb(0, 0, 0);
  --surface-color:  rgba(255, 255, 255, 0.623);
   --surface-color-hover: rgba(255, 0, 0, 0);
     --highlight-color:  rgb(0, 0, 0);
     --switch-bg-url: url(./assets/sun.svg)
}


body{
    background: var(--bg-url) no-repeat top center/cover;

}

body *{
  font-family: 'Inter', sans-serif;
  color: var(--text-color)

}

#container{
  width: 100%;
  max-width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}


/*profile*/
#profile {
  text-align:center ;
  padding: 24px;

}

#profile img{
width: 112px;
height: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch{
  position: relative;
  width: 64px;

  margin: 4px auto;

}

#switch button{
  width: 32px; 
  height: 32px;
  background:white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* Posicionamento do buton*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.35s ;
}

.light #switch button{
  animation: slide-in 0.35s forwards;
}

#switch button:hover {
    outline: 2px solid var(--highlight-color);
}



#switch span{
  display:block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}


/* links */
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 24px 0;
}

ul li a{ 
  

  display: flex;
  align-items: center;
  justify-content: center;

 padding: 16px 24px;

 background: rgba(0, 0, 0, 0.623);
 border: 1px solid  var(--stroke-color);
 border-radius: 8px;

 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);

 text-decoration: none;
 font-weight: 500px;

 transition: background 0.75s;
 
}



ul li a:hover{
 background: var(--surface-color-hover);
 border: 1px solid white
}

/*social link*/
#sociallinks{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;

}

#sociallinks a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.5s;
  border-radius: 50%;
}

#sociallinks a:hover{
  background: var(--highlight-color);
}

footer{
  padding: 24px 0;
  text-align: center;
  font-size: 19px;
  
}

/* animation*/
@keyframes slide-in{
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-back{
  from{
    left: 50%;
  }

  to{
    left: 0;
  }
}